*{
  margin: 0;
}

.App {
  border: solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em auto;
  width: 60vw;
  height: 80vh;
  min-height: 100vh;
  text-align: center;
  padding: 1em;
}

.studentInfoContainer{
  display: flex;
  /* min-height: 30%; */
  height: 30%;
  /* justify-content: space-between; */
  border: solid black;
}
.studentNameParagraph{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  border-right: solid black;
}
.studentName{
  width: 100%;
  border-bottom: solid black;
  padding-bottom: 1em;
}
.studentParagraph{
  
  width: 100%;
}

.studentScoreContainer{
  width: 40%;
  margin: 0 ;
}
.scoresAndDatesContainer{
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-around;
  height: 100%;
}